
<ul>
    <li><a [routerLink]="['/admin-home']" class="active" >Home</a></li>
    <li><a [routerLink]="['/admin-add-movie']" >Add Movie</a></li>
    <li><a [routerLink]="['/admin-delete-movie']">Delete Movies</a></li>
    <li style="float:right"><a [routerLink]="['/login']">Sign Out</a></li>
</ul>
<br>

<form>
    <div class="form-group" style="width: 50%">
        <input type="text" name="name" class="form-control" id="name" placeholder="Movie Name">
    </div>

    <div class="form-group" style="width: 25%">
        <input type="text" name="imdb_id" class="form-control" id="imdb_id" placeholder="IMDB ID">
        <br>
        <input type="text" name="imdb_rate" class="form-control" id="imdb_rate" placeholder="IMDB Rate">
    </div>

    <div class="form-group" style="width: 50%">
        <input type="text" name="Release Year" class="form-control" id="rYear" placeholder="Release Year">
    </div>

    <div class="form-group" style="width: 50%">
        <input type="text" name="poster" class="form-control" id="poster" placeholder="poster">
    </div>

    <div class="form-group" style="width: 50%">
        <input type="text" name="director" class="form-control" id="director" placeholder="Director">
    </div>

    <div class="form-group" style="width: 50%">
        <input type="text" name="actor" class="form-control" id="actor" placeholder="Actors">
    </div>

    <button type="submit" class="btn btn-primary" >Add Movie</button>

</form>
