<ul>
    <li style="float:right"><a [routerLink]="['/admin-home']">For Admin</a></li>
</ul>

<form (ngSubmit)="addUser()" novalidate #userForm="ngForm">

    <div class="form-group" style="width: 40%">
        <label for="name">Name</label>
        <input #inputName="ngModel" type="text" name="name" [(ngModel)]="user.name" required minlength="4" class="form-control" id="name" placeholder="Your Name">
        <div *ngIf="inputName.errors && inputName.dirty" class="errors">
            <p [hidden]="!inputName.errors.required">Name is required</p>
            <p [hidden]="!inputName.errors.minlength">Name must have 4 chars or more</p>
        </div>
    </div>
    <div class="form-group" style="width: 40%">
        <label for="city">City</label>
        <input #inputCity="ngModel" type="text" name="city" [(ngModel)]="user.city" required class="form-control" id="city" placeholder="Your City">
        <div *ngIf="inputCity.errors && inputCity.dirty" class="errors">
            <p [hidden]="!inputCity.errors.required">City is required</p>
        </div>
    </div>

    <div class="form-group" style="width: 40%">
        <label for="email">Email</label>
        <input #inputEmail="ngModel" type="email" name="email" [(ngModel)]="user.email" required pattern="^[a-zA-Z.@]*$" class="form-control" id="email" placeholder="example@domain.com">
        <div *ngIf="inputEmail.errors && inputEmail.dirty" class="errors">
            <p [hidden]="!inputEmail.errors.required">Email is required</p>
            <p [hidden]="!inputEmail.errors.pattern">Email is invalid </p>
        </div>
    </div>
    <div class="form-group" style="width: 40%">
        <label for="email">Password</label>
        <input #inputEmail="ngModel" type="password" name="password" [(ngModel)]="user.password" required pattern="^[a-zA-Z.@]*$" class="form-control" id="password" placeholder="password">
        <div *ngIf="inputEmail.errors && inputEmail.dirty" class="errors">
            <p [hidden]="!inputEmail.errors.required">Email is required</p>
            <p [hidden]="!inputEmail.errors.pattern">Email is invalid </p>
        </div>
    </div>

    <a type="button" class="btn btn-primary"  [routerLink]="['/login']" >login</a>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.form.invalid">Register</button>
</form>
