<ul>
    <li><a [routerLink]="['/users']" >Home</a></li>
    <li><a class="active" [routerLink]="['/by-imdb-rate']" >By Imdb Rate</a></li>
    <li><a [routerLink]="['/top-movie']">Top Listed Movies</a></li>
    <li style="float:right"><a [routerLink]="['/login']">Sign Out</a></li>
</ul>
<br>

<table class="table">
    <thead>
    <tr>
        <th class="text-center"><i class="glyphicon glyphicon-user"></i></th>
        <th>Movie Name</th>
        <th>IMDB Rate</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movieList">
        <td class="text-center"><a [routerLink]="[movie.id]"><img [src]="movie.profilePic"></a></td>
        <td>{{movie.firstName}} {{movie.lastName}}</td>
        <td>{{movie.address.city}}</td>

    </tr>
    </tbody>
</table>